DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=troque_aqui
# python -c "import secrets;print(secrets.token_hex(32))"
SECRET_KEY=
# python -c "from cryptography.fernet import Fernet;print(Fernet.generate_key().decode())"
BIOMETRIA_KEY=
